$size : 270px;
$bg-color: #e4e9f7;
$primary-color: #fff;
$secondary-color: #695cfe;
$text-color : #555;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
}

html,body{
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: $bg-color;
}

main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;

    aside{
        width: $size;
        height: 100%;
        transition: 300ms width ease-out;

        .aside-inner{
            background-color: $primary-color;
            height: 100%;
            padding: 1em;
            border-radius: 0 30px 30px 0;

            .sidebar-title{
                display: flex;
                align-items: center;
                color: $text-color;
                font-size: 1.2em;
                cursor: pointer;
                padding-right: 1em;
                position: relative;

                .menu-text{
                    font-size: .9em;
                }

                .logo{
                    padding: 1em;
                }

                .fas.fa-chevron-left{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(0);
                    right: 10px;
                    padding: 3px 7px;
                    border-radius: 50%;
                    transition: 300ms all;
                    animation: sidebar-animation infinite 1.2s alternate ease-out;
                }
            }

            .search-bar{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: $bg-color;
                padding: .7em 1em;
                border-radius: 10px;
                gap: 1em;
                overflow-x: hidden;
                margin: 10px 0;

                i{
                    color: $text-color;
                    padding-left: 3px;
                }
                input{
                    background-color: $bg-color;
                    font-size: 1em;
                    width: calc(100% - 2em);
                    color: $text-color;
                    padding: 6px 3px;

                    &:focus{
                        outline: none;
                    }
                }
            }
    
            ul.menu{
                height: 100%;
    
                li{
                    padding: .8em 1em;
                    position: relative;
                    overflow-x: hidden;
                    color: $text-color;
                    font-size: 1.1em;
                    cursor: pointer;
                    transition: 250ms background-color;
                    border-radius: 10px;
                    margin: .15em 0;
    
                    a{
                        color: $text-color;
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        gap: 1em;
                        text-decoration: none;
                        max-height: 20.6px;
                        overflow-y: hidden;
                        overflow-x: hidden;
                        position: relative;
                        z-index: 2;

                        .menu-text{
                            font-size: .9em;
                        }
                    }
    
                    &:hover{
                        background-color: $secondary-color;
    
                        a{
                            color: white;
                        }
                    }
                }
            }
        }

        &.open{
            width: 5.4em;
            overflow: hidden;

            .aside-inner{
                border-radius: 0;
            }

            & + .content{
                width: calc(100% - 5.4em);
            }

            .menu-text{
                visibility: hidden;
            }

            .sidebar-title{

                .fas.fa-chevron-left{
                    background-color: $secondary-color;
                    color: white;
                    transform: translateY(-50%) rotate(180deg);
                    right: 15px;
                }
            }
        }
    }

    .content{
        width: calc(100% - #{$size});
        height: 100%;
        transition: 250ms width ease;
        padding: 1em 1.5em;
    }
}

@keyframes sidebar-animation {
    from{
        right: 0;
    }
    to{
        right: 15px;
    }
}

/*


                &::before{
                    content: "";
                    width: 20px;
                    height: 50%;
                    display: flex;
                    background-color: $text-color;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-radius: 0 0 0 100%;
                }

                &::after{
                    content: "";
                    width: 40px;
                    height: 100%;
                    display: flex;
                    background-color: $secondary-color;
                    position: absolute;
                    top: 0;
                    right: -40px;
                    border-radius: 100% 0 0 100% ;
                    transition: 250ms right;
                    z-index: 1;
                }
*/